/* BREADCRUMBS */
section.breadcrumb {
    padding: 20px 15px;
    margin: 40px 0;
    list-style: none;
    border-radius: 0;
    background: #ffffff;
    text-align: center;
}
section.breadcrumb:after {
    content: "";
    display: block;
    height: 1px;
    width: 15px;
    background: #8b8d99;
    margin: 20px auto;
}
section.breadcrumb a,
section.breadcrumb span {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #8b8d99;
    text-transform: uppercase;
    display: inline-block; margin: 0 5px;
}
section.breadcrumb span.active{
    color: #ef494f;
}

/* Destaque Produtos */

/* SIDEBARS */
section.destaque-produtos{
    min-height: 400px;
    position: relative;
}

div.produtos-linha-descricao{
    background: #e56a56;
    padding: 40px 30px;
}
div.produtos-linha-descricao .box-width{
    width: 80%;
}
div.produtos-linha-imagem{
    position: relative;
}
div.produtos-linha-descricao small{
    font-family: 'Poppins-Regular';
    letter-spacing: 2px;
    font-size: .85em;
    color: #fff;
}
div.produtos-linha-descricao h2{
    letter-spacing: 1px;
    font-size: 3em;
    margin-top: 10px;
    color: #fff;
}
div.produtos-linha-descricao p{
    letter-spacing: 2px;
    font-size: .8em;
    color: #fff;
}
div.produtos-linha-descricao .btn{
    border: 1px solid #fff;
    border-radius: 0;
    font-family: 'Poppins-Light';
    font-size: .7em;
    padding: 10px 15px;
    color: #fff;
    transition: background 200ms, color 200ms, font-weight 200ms;
}
div.produtos-linha-descricao .btn:hover{
    background: #fff;
    color: #e56a56;
    font-weight: bold;
}

/* Carousel Slider */
div.carousel-inner div.item h4,{
    font-family: "Poppins-Light";
}
div.carousel-inner div.item h5,
section.produtos h2{
    font-family: "AbrilFatface-Regular";
}
section.produtos article a.btn,
section.produtos article h4{
    font-family: 'Poppins-Regular';
}

section.carousel-slider{
	min-height: 600px;
}
.carousel-control.left,
.carousel-control.right{
	background: none;
}
div.carousel-inner div.item h4{
	color: #fff;
	font-size: 22px;
	opacity: .7;
	text-transform: uppercase;
	text-shadow: none;
	letter-spacing: 3px;
}
div.carousel-inner div.item h5{
	color: #fff;
	font-size: 8em;
	font-size: 12rem;
	opacity: .6;
	text-shadow: none;
	line-height: 80%;
}
.carousel-indicators{
    bottom: 45px;
}


/* LISTA PRODUTOS */

section.produtos,
section.carrinho h2{
    margin-top: 50px; 
    margin-bottom: 50px; 
}
section.produtos h2, 
section.carrinho h2 {
    text-align: center; 
    font-size: 34px;
    color: #ef494f;
    margin-top: 60px;
}
section.produtos h2:after,
section.carrinho h2:after{
    content: "";
    display: block;
    height: 1px; 
    width: 20px;
    background: #ef494f;
    margin: 10px auto;
}
section.produtos article{
    text-align: center;
    margin: 25px 0;  
    min-height: 480px;  
}
section.produtos article div.produto-imagem{ 
    width: 100%;
    min-height: 300px;  
    position: relative;
}
section.produtos article div.produto-imagem img{ 
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
section.produtos article h3{
     font-family: 'Poppins-Bold';
     font-size: 1.4em;
     color: #ef494f;
}
section.produtos article h4{
     font-size: 1.2em;
     color: #8b8d99;
}
section.produtos article h5{
     font-family: 'Poppins-SemiBold';
     font-size: 1.1em;
     color: #8b8d99;
}
section.produtos article a.btn,
section.produtos article button.btn{
     font-size: .8em;
     letter-spacing: 1px;
     color: #ef494f;
     border: 1px solid #ef494f;
     padding: 15px 20px;
     border-radius: 0;
     line-height: 100%;
     margin-top: 5px;
     transition: background 400ms, color 400ms;
     background: none;
     text-transform: uppercase;
}
section.produtos article a.btn:hover,
section.produtos article button.btn:hover{
     background:#ef494f;
     color: #ffffff;
} 

/* PÁGINA PRODUTOS */

section.produto{
    margin-bottom: 60px;
} 
section.produto h2{
    font-family: 'Poppins-Bold';
    font-size: 1em;
    color: #8b8d99;
}
section.produto h3{
    font-family: 'AbrilFatface-Regular';
    font-size: 3em;
    color: #ef494f;
}
section.produto h4{
    font-family: 'Poppins-Regular';
    font-size: 1em;
    color: #8b8d99; 
}
section.produto h5{
    font-family: 'Poppins-Regular';
    font-size: 1em;
    color: #8b8d99;
}
section.produto h5 strong{
    color: #ef494f;
}
section.produto article a.btn,
a.btn-padrao,
input.btn,
button.btn, 
button.btn:focus{
    font-size: .8em;
    letter-spacing: 1px;
    color: #ef494f;
    border: 1px solid #ef494f;
    padding: 15px 20px;
    border-radius: 0;
    line-height: 100%;
    margin: 20px 0;
    background: none;
    outline: none;
    transition: all 0.5s ease;
    white-space: normal;
}
section.produto article a.btn:hover,
input.btn:hover,
button.btn:hover{
     background:#ef494f;
     color: #ffffff;
}
ul.lista-carrinho{
    list-style-type: none;
    margin-bottom: 15px;
}
ul.lista-carrinho li.lista-header{
    background: #ef494f;
    padding: 10px 0;
    color: #FFFFFF;
}
ul.lista-carrinho li.lista-body{
    padding: 15px 0;
}
ul.lista-carrinho li.lista-body div.out,
div.out{
    display: table;
    height: 100px;
}
ul.lista-carrinho li.lista-body div.in,
div.in{
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}
ul.lista-carrinho li.lista-body img{
    max-height: 100px;
    max-width: 100px; 
}
ul.lista-carrinho li.lista-body:nth-child(odd) {
   background-color: #eee;
}
ul.lista-carrinho li.lista-body p{
    margin: 0;
}
ul.lista-carrinho li.lista-body p strong{
    font-weight: bold;
}
ul.lista-carrinho li.lista-body a p{
    color: #ef494f;
    font-weight: bold;
}
ul.lista-carrinho li.lista-body a:hover{
    text-decoration: none;
}
ul.lista-carrinho li.lista-body a:hover p{
    color: red;
}
.quantity-remove, .quantity-add {
    cursor: pointer;
}
.quantity-add.glyphicon, .quantity-remove.glyphicon {
    display: block;
    cursor: pointer;
}
.form-group-options{
    max-width: 130px;
    margin-bottom: 0;
}
.btn-remove{
    color: #ef494f;
    transition: all 0.5s ease;
}
.btn-remove:hover{
    background: #ef494f;
    color: #fff;
}
.form-control:focus {
    border-color: #ef494f;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
@media screen and (max-width: 776px){
    ul.lista-carrinho li.lista-body div.out{
        display: table;
        height: 140px;
    }    
    ul.lista-carrinho li.lista-body img{
        max-height: 140px;
        max-width: 100px; 
    }
    .form-group-options{
        margin-top: 10px;
    }
    .btn-remove {
        margin-top: 5px;
        width: 85%;
    }
}

/* -- Shopping Cart -- */

ul.products-wrp {
    list-style: none;
    padding: 0;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;  
    color: #777;  
    text-align: center;
}
ul.products-wrp li{
    display: inline-block;
    border: 1px solid #ECECEC;
    margin: 5px;
    background: #fff;
    text-align: center;
}
ul.products-wrp li h4{
    margin: 0;
    padding: 15px 5px 5px 5px;
    text-align: center;
    border-bottom: 1px solid #FAFAFA;
}
ul.products-wrp li .item-box{
    border: 1px solid #EAEAEA;
    background: #F9F9F9;
    margin: 5px;
    padding: 5px;
    text-align: left;
}
ul.products-wrp li .item-box div{
    margin-bottom:5px;
}
ul.products-wrp li .item-box button{
    margin-left: 5px;
    background: #FA1C5F;
    border: none;
    padding: 3px 8px 3px 8px;
    color: #fff;
}
ul.products-wrp li .item-box button[disabled=disabled]{
    background: #FC84A8;
}

.cart-box {
    display: block!important;
    float: right;
    min-width: 50px!important;
    height: 30px!important;
    background: rgba(239,73,79, 1) url(../images/cart-icon.png) no-repeat .6em 7px!important;
    padding: 4px 8px 4px 8px!important;
    border-radius: 30px!important;
    color: #fff!important;
    font-family: Arial!important;
    font-size: 16px!important;
    text-decoration: none!important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32)!important;
    margin-right: auto!important;
    margin-left: auto!important;
    font-weight: bold!important;
    line-height: 145%!important;
    text-align: right!important;
    letter-spacing: 0px!important;
    padding-left: 30px!important;
    margin-right: 15px!important;
}
.cart-box:hover{
    background: #ef494f url(../images/cart-icon.png) no-repeat 20px 5px;
}
.shopping-cart-box{ 
    position: absolute;
    right:0%;
    top: 9em;
    margin-left:auto;
    margin-right:auto;
    max-width: 450px;
    background: #ef494f;
    border-radius: 4px;
    padding: 10px;
    font: small Verdana, Geneva, sans-serif;  
    margin-top: 10px;
    display:none;
    z-index: 999999;
}
.shopping-cart-box a{
    color: #6D6E70;
    text-decoration:none;
}
.shopping-cart-box a.close-shopping-cart-box{
    color: #FFFFFF;
    text-decoration:none;
}
.shopping-cart-box a.close-shopping-cart-box:hover{
    text-decoration: underline;
}
.shopping-cart-box p{
    color: #6D6E70;;
    text-decoration:none;
    margin-bottom: 0;
}
.shopping-cart-box:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 5%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid rgba(239,73,79, 1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.shopping-cart-box ul.cart-products-loaded{
    margin: 0;
    padding: 0;
    list-style: none;
}
.shopping-cart-box .close-shopping-cart-box{
  float: right;
}
#shopping-cart-results ul{
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#shopping-cart-results ul.cart-products-loaded li{
    background: #ffffff;
    margin-bottom: 2px;
    padding: 6px 4px 6px 10px;
}
.shopping-cart-box .remove-item{
    float:right;
    text-decoration:none;
}
.shopping-cart-box .cart-products-total{
    font-weight: bold;
    text-align: right;
    padding: 5px 0px 0px 5px;
}
.shopping-cart-box h3{
    margin: 0;
    padding: 0px 0px 5px 0px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
}

ul.view-cart {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
}

ul.view-cart {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
  border: 1px solid #ECECEC;
  border-radius: 4px;
}
ul.view-cart li span{
    float: right;
}
ul.view-cart li.view-cart-total{
  border-top: 1px solid #ddd;
  padding-top: 5px;
  margin-top: 5px;
  text-align: right;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Formulario Material Design */
/* Form Material Design */

.form-material .group{
    position:relative;
    margin-bottom: 25px;
}

li.lista-body .form-material .group {
    margin-top: 15px;
}

.form-material input,
.form-material textarea {
    font-size:1.2em;
    padding:5px 0;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #8b8d99;
    border-radius: 0;
}
.form-material input{
    margin-top: 5px;  
}
.form-material textarea {
    margin-top: 5px;
}
.form-material input:focus,
.form-material textarea:focus{
    outline:none;
}
.form-material label{
    color:#8b8d99;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.form-material textarea ~ label{
    top:-20px;
    color: #000000;
}
.form-material input:focus ~ label,
input:focus ~ label, input:valid ~ label{
    top:-20px;
    left: 15px;
    color: #000000;
}
.form-material textarea:focus ~ label,
textarea:focus ~ label{
    top:-20px;
    font-size:14px;
    color: #000000;  
}
/* active state */
input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color: #000000;
}
.form-material textarea[value=""] ~ label{
    top:0px;
    left: 15px;
    color: #8b8d99;
}

.form-material .bar{
    position:relative;
    display:block;
    width:100%;
}
.form-material .bar:before, .bar:after {
    content:'';
    height:1px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#8b8d99;
    transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -webkit-transition:0.3s ease all;
}
.form-material .bar:before {
    left:50%;
}
.form-material .bar:after {
    right:50%;
}
.form-material input:focus ~ .bar:before,
.form-material input:focus ~ .bar:after,
.form-material textarea:focus ~ .bar:before,
.form-material textarea:focus ~ .bar:after {
    width:50%;
}
.form-material span.highlight {
    position:absolute;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
    color: #34ffc3;
}
.form-material input:focus ~ .highlight,
.form-material textarea:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#fff; }
    to { width:0; background:transparent; }
}


